/* Common Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */

  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white-heading: hsla(0, 0%, 100%, 0.6);
  --Slightly-transparent-white-para: hsla(0, 0%, 100%, 0.75);
}
body {
  background-color: var(--Very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 15px;
  margin: 6rem auto;
}

/* Typography */
h1,
h2,
p {
  text-align: center;
  max-width: 81%;
  margin: 0 auto;
}
h1 {
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
h2 {
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
}
p {
  color: var(--Slightly-transparent-white-para);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}

/* Card */
.card {
  background-color: var(--Dark-desaturated-blue);
  position: relative;
  border-radius: 8px;
  width: 19rem;
  overflow: hidden;
}

/* Card Image */
.card__image__mobile {
  background-image: url(./images/image-header-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 14rem;
}
.card__image__overlay {
  background-color: rgb(96, 18, 134);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 14rem;
  opacity: 0.4;
}

/* Card Content */
.card__content {
  padding: 2.6rem 0;
}
.card__content__text {
  margin-bottom: 3rem;
}
#card__content__text--purple {
  color: var(--Soft-violet);
}
.card__content__stats > span > p {
  color: var(--Slightly-transparent-white-heading);
  text-transform: uppercase;
  font-size: 0.78rem;
}
.card__content__stats {
  margin-bottom: -1.2rem;
}

/* Media Query */
/* 710 -  Width(Tablet) */
@media screen and (min-width: 710px) {
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .card {
    width: 26rem;
  }
  .card__image {
    height: 16rem;
  }
}

/* 874 - Width(Desktop) */
@media screen and (min-width: 874px) {
  body {
    margin: 0 auto;
  }
  h1,
  h2,
  p {
    text-align: left;
  }
  h1 {
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
  }
  .card {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 52rem;
  }
  .card__image__mobile {
    display: none;
  }
  .card__image__desktop {
    background-image: url(./images/image-header-desktop.jpg);
    background-size: 100% 100%;
  }
  .card__image__desktop > .card__image__overlay {
    opacity: 0.6;
    width: 50%;
    height: 100%;
  }
  .card__content__stats {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    width: 80%;
    margin-bottom: -1.6rem;
  }
}
